@import './styles/sanitize.css';

:root {
	--color-text-primary: #222;
	--color-text-secondary: #444;
	--color-background-primary: #fff;
	--color-background-secondary: #e7e3da;
	--color-grey-light: #efefef;
	--color-grey: #ddd;
	--color-off-white: #edf0f2;
	--color-work: #ffdd18;
	--color-red: #ff3e00;
	--color-interactive-primary: #005cef;

	--site-width: 768px;
	--site-width-large: 960px;
	--site-padding: 2rem;
	--site-padding-small: 1rem;
	--site-padding-large: 4rem;

	--border-size: 1px;
	--border-size-negative: calc(
			var(--border-size) - var(--border-size) - var(--border-size)
		);

	--shadow-color: 220 3% 15%;
	--shadow-strength: 1%;
	--shadow: 0 -1px 2px 0 hsl(var(--shadow-color) /
					calc(var(--shadow-strength) + 2%)),
		0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 12px 10px -2px hsl(var(--shadow-color) /
					calc(var(--shadow-strength) + 4%)),
		0 22px 18px -2px hsl(var(--shadow-color) /
					calc(var(--shadow-strength) + 5%)),
		0 41px 33px -2px hsl(var(--shadow-color) /
					calc(var(--shadow-strength) + 6%)),
		0 100px 80px -2px hsl(var(--shadow-color) /
					calc(var(--shadow-strength) + 7%));


}

@media screen and (max-width: 250px) {
	:root {
		--site-padding: 1rem;
		--site-padding-small: 0.5rem;
		--site-padding-large: 2rem;
	}
}

html,
body {
	background-color: var(--color-background-primary);
	font-family: 'Futura', 'Inter', -apple-system, 'Helvetica Neue', Helvetica,
		Arial, sans-serif;
	font-size: 16px;
	color: var(--color-text-primary);
	/* scroll-snap-type: y mandatory; */
}

input,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

img {
	display: block;
}

a {
	color: var(--color-interactive-primary);
}

button:focus:not(:focus-visible) {
	outline: none;
}

